<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606129913403-rn121rjsfn6k7vgodmh6u3ji60289fv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606129913403-rn121rjsfn6k7vgodmh6u3ji60289fv4</string>
	<key>API_KEY</key>
	<string>AIzaSyDG6sxyFgmOhTK0igTrByY8rRrTw-luoMU</string>
	<key>GCM_SENDER_ID</key>
	<string>606129913403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myAssistant</string>
	<key>PROJECT_ID</key>
	<string>my-assistant-ac985</string>
	<key>STORAGE_BUCKET</key>
	<string>my-assistant-ac985.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606129913403:ios:07db99fbaa858ff975261e</string>
</dict>
</plist>